
<header class="border-bottom header">
    <div class="container">
        ISS Project - 
        <a href="/Authentication"> Auth </a> -
        <a href="/Authentication#login"> Login </a> -
        <a href="/Authentication#register"> Register </a>
    </div>

</header>
